
.checkbox{
  color:#636363 !important;
  background-color: #636363 !important;
}

.fa-eye:hover{
  background: #4e73df;
  border-radius: 40px;
  width: 1.4em;
  height: 1em;
  color:white;
}

.fa-edit:hover{
  background: #f6c23e;
  border-radius: 20px;
  width: 1.5em;
  height: 1.1em;
  color:white;
}

.fa-trash:hover{
  background: #e74a3b;
  border-radius: 20px;
  width: 1.4em;
  height: 1.1em;
  color:white;
}

.icono{
  color:#313131;
}

.inputWithIcon input[type="text"] {
  padding-left: 45px;
}
.inputWithIcon textarea {
  padding-left: 45px;
}

.inputWithIcon select {
  padding-left: 45px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 0px;
  padding: 12px 8px;
  padding-left: 10px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i + p{
  color: red !important;
  font-weight: bold;
}

.inputWithIcon input[type="text"]:focus + i {
  color: #2EA1B2 !important;
}

.inputWithIcon select:focus + i + p{
  color: red !important;
  font-weight: bold;
}

.inputWithIcon textarea:focus + i + p{
  color: red !important;
  font-weight: bold;
}

.inputWithIcon textarea:focus + i {
  color: #2EA1B2;
}

.inputWithIcon select:focus + i + p{
  color: red !important;
  font-weight: bold;
}

.inputWithIcon select:focus + i {
  color: #2EA1B2;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 60px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #F9F4F4;
}

.fondo-gris {
    width: 100%;
    border: 2px solid #aaa;
    background-color: #F9F4F4;
    border-radius: 60px;
}

.textarea-gris {
   background-color: #F9F4F4;
   border: 2px solid #aaa;    
}  

.element-focus:focus {
   border-color: #2EA1B2;
   box-shadow: 0 0 8px 0 #2EA1B2;
}

input[type="text"]:focus {
  border-color: #2EA1B2;
  box-shadow: 0 0 8px 0 #2EA1B2;
}

.campo-obligatorio{
  color: #aaa;
  font-size: 12px;
}

.push{
  margin-top: -15px;
}

.avatar {
  width: 100px;
  height: 10vh;
  border-radius: 50%;
  margin-top: -40px;

}

/* Class hidden in switches */
.m-hidden{
    display: none;
}

.img-delete2{
  width: 50px;
  height: 50px;

}
